/* Reset Css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* tác dụng lên tất cả chữ trên website */

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}


/* 
1. Từ Ngoài vào trong
2. Từ trên Xuống dưới
3.Tổng quát đến chi tiết (tìm hiểu xem rồi làm chi tiết)


*/


/* 
1. Ví trí
2. kích thước ( Ngang (w) và dọc (h))
3.Màu sắc
4.Kiểu dáng ( dọc ngang ,tròn , méo , vuông ,.. )

*/


/* Comon */

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.row {
    margin: 0 -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding: 0 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-three {
    width: 33.33333%;
    /*      width: calc(100% /3);*/
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.pull-right {
    float: right;
}

.btn {
    background-color: #000;
    border: none;
    cursor: pointer;
    color: #fff;
    border: none;
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 11px 16px;
    /* bo di trinh duyet mat dinh */
    appearance: none;
    -webkit-appearance: none;
}

.btn:hover {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

#main {
    /* fix khoảng hơ talet */
    /* overflow: ; */
}

#header {
    background-color: #000;
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* mobile khi con vượt quá height thì ẩn
    overflow: hidden; */
}

#nav {
    display: inline-block;
}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}


/* chỉ tát động lên cấp 1 */

#nav>li:hover>a,
#nav .subnav li:hover a {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav {
    display: block;
}

#nav,
.subnav {
    list-style: none;
}

#nav .subnav {
    display: none;
    /* tren pc mới cần */
    position: absolute;
    /* đảm bảo subnav k lỗi đi */
    /* bằng chieu cao của thẻ chứa nó */
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    min-width: 160px;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-icon-more {
    font-size: 20px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .search-btn,
#header .mobile-menu-btn {
    float: right;
    padding: 0 18px;
}

#header .search-icon,
#header .menu-icon {
    color: #fff;
    font-size: 25px;
    line-height: 46px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
    cursor: pointer;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/sldi1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    color: #fff;
    text-align: center;
    width: 100%;
    /* Can giua
    1. left: 50%;
        transform: translateX(-50%);
    2.  left: 0 ;
        right 0;
    */
}

#slider .text-header {
    font-weight: 400;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 2px #000;
}

#content {}

#content .content-section {
    width: 800px;
    padding: 64px 0 112px;
    margin: 0 auto;
    /* fix khoảng hơ talet */
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 5px;
}

#content .section-sub-heading {
    margin-top: 25px;
    font-size: 15px;
    opacity: 0.7;
    text-align: center;
    font-style: italic;
}

#content .about-text {
    margin-top: 25px;
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
}

#content .menbers-list {
    margin-top: 32px;
}

#content .menber-name {
    font-size: 15px;
}

#content .menber-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}


/*Tour section   */

.tour-section {
    background-color: #000;
}


/* Tickets */

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style-type: none;
}

.tickets-list li {
    font-size: 15px;
    color: #757575;
    padding: 11px 16px;
    border-bottom: solid 1px #ddd;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quanlity {
    background-color: #000;
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}


/* Place */

.places-list {
    margin-top: 16px;
    /* làm căn bằng 2 bên
    margin-left: -8px;
    margin-right: -8px; */
}

.places-list .place-img {
    width: 100%;
    display: block;
}

.places-list .place-img:hover {
    opacity: 0.7;
}

.places-list .place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.places-list .place-heading {
    font-size: 15px;
    font-weight: 600;
}

.places-list .place-time {
    margin: 15px 0;
    color: #757575;
}

.places-list .place-desc {
    line-height: 1.4;
}


/* Modal */

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
    cursor: pointer;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/sldi1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    color: #fff;
    text-align: center;
    width: 100%;
    /* Can giua
    1. left: 50%;
        transform: translateX(-50%);
    2.  left: 0 ;
        right 0;
    */
}

#slider .text-header {
    font-weight: 400;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 2px #000;
}

#content {}

#content .content-section {
    width: 800px;
    padding: 64px 0 112px;
    margin: 0 auto;
    /* fix khoảng hơ talet */
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 5px;
}

#content .section-sub-heading {
    margin-top: 25px;
    font-size: 15px;
    opacity: 0.7;
    text-align: center;
    font-style: italic;
}

#content .about-text {
    margin-top: 25px;
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
}

#content .menbers-list {
    margin-top: 32px;
}

#content .menber-name {
    font-size: 15px;
}

#content .menber-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}


/*Tour section   */

.tour-section {
    background-color: #000;
}


/* Tickets */

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style-type: none;
}

.tickets-list li {
    font-size: 15px;
    color: #757575;
    padding: 11px 16px;
    border-bottom: solid 1px #ddd;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quanlity {
    background-color: #000;
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}


/* Place */

.places-list {
    margin-top: 16px;
    /* làm căn bằng 2 bên
    margin-left: -8px;
    margin-right: -8px; */
}

.places-list .place-img {
    width: 100%;
    display: block;
}

.places-list .place-img:hover {
    opacity: 0.7;
}

.places-list .place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.places-list .place-heading {
    font-size: 15px;
    font-weight: 600;
}

.places-list .place-time {
    margin: 15px 0;
    color: #757575;
}

.places-list .place-desc {
    line-height: 1.4;
}


/* Modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.open {
display: flex;
}

.modal .modal-container {
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    max-width: calc(100% - 32px);
    position: relative;
    animation: modalFacein ease 0.6s;
}

.modal .modal-close {
    padding: 10px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    /* float: right; */
    opacity: 0.8;
}

.modal .modal-close:hover {
    opacity: 1;
}

.modal-heading-icon {
    color: #fff;
    font-size: 24px;
}

.modal .modal-header {
    background-color: #009688;
    color: #fff;
    height: 129px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
    line-height: 129px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}


/* .modal-bag{
   margin-right: 5px;
   margin-top: -4px;
} */

.modal .modal-body {
    padding: 16px;
    font-size: 15px;
}

.modal .modal-label {
    display: block;
    margin-bottom: 12px;
}

.modal .modal-input {
    font-size: 15px;
    width: 100%;
    border: solid 1px #ddd;
    padding: 11px;
    margin-bottom: 25px;
}

#modal-pay {
    background-color: #009688;
    color: #fff;
    font-size: 15px;
    width: 100%;
    padding: 16px;
    border: none;
    cursor: pointer;
}

#modal-pay:hover {
    opacity: 0.8;
}

.modal .modal-footer {
    font-size: 15px;
    text-align: right;
    padding: 15px;
}

.modal .modal-help {
    color: #2196F3;
}


/* hiệu ứng khi click vào buyTickets */

@keyframes modalFacein {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/* Phần Contact */


/* info */

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.4;
}

.contact-info a {
    color: blue;
}

.contact-info a:hover {
    opacity: 0.8;
}

.contact-info i[class*="bx"] {
    width: 30px;
    /* display: inline-block; */
}


/* Phần Form */

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: solid 1px #ccc;
    width: 100%;
}

.map-section img {
    width: 100%;
    opacity: 0.8;
}


/*Footer section   */

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 30px;
}

#footer .social-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .social-list a:hover,
#footer .copyright a:hover {
    opacity: 0.5;
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}
/* hiệu ứng khi click vào buyTickets */

@keyframes modalFacein {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/* Phần Contact */


/* info */

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.4;
}

.contact-info a {
    color: blue;
}

.contact-info a:hover {
    opacity: 0.8;
}

.contact-info i[class*="bx"] {
    width: 30px;
    /* display: inline-block; */
}


/* Phần Form */

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: solid 1px #ccc;
    width: 100%;
}

.map-section img {
    width: 100%;
    opacity: 0.8;
}


/*Footer section   */

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 30px;
}

#footer .social-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .social-list a:hover,
#footer .copyright a:hover {
    opacity: 0.5;
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}